numpy==1.26.4
pandas==2.2.2
pyarrow==15.0.2
numexpr==2.10.1
numba==0.59.1
llvmlite==0.42.0
torch==2.0.0
torchvision==0.15.1
easyocr==1.7.2
img2table==1.4.2
opencv-python-headless==4.9.0.80
scikit-image==0.23.2
pypdfium2==4.30.0
polars==1.37.0
openpyxl==3.1.5
